<footer class="border-t border-zinc-200 dark:border-zinc-800 py-8 text-center text-zinc-500 dark:text-zinc-400 text-sm w-full">
  <div class="flex justify-center gap-6 mb-4">
    <a href="https://github.com/vannsakk5s" class="inline-block hover:text-zinc-900 dark:hover:text-zinc-100 transition-all duration-300 hover:-translate-y-1 hover:scale-110">GitHub</a>
    <a href="https://youtube.com/@imzakk19000?si=yoAy3LDnbaKTyi4j" class="inline-block hover:text-zinc-900 dark:hover:text-zinc-100 transition-all duration-300 hover:-translate-y-1 hover:scale-110">YouTube</a>
    <a href="https://t.me/Vann_Sakkk" class="inline-block hover:text-zinc-900 dark:hover:text-zinc-100 transition-all duration-300 hover:-translate-y-1 hover:scale-110">Telegram</a>
    <a href="https://www.tiktok.com/@sak_20055?_r=1&_t=ZS-95lWeFGK5lU" class="inline-block hover:text-zinc-900 dark:hover:text-zinc-100 transition-all duration-300 hover:-translate-y-1 hover:scale-110">TikTok</a>
  </div>
  <p>&copy; 2026 Anajak VNS. Built with Angular & Tailwind.</p>
</footer>
