<section id="projects" class="scroll-mt-24 mt-10">
  <h2 class="text-3xl font-bold tracking-tight mb-8 transition-colors duration-300 hover:text-zinc-600 dark:hover:text-zinc-300 cursor-default">Selected Projects</h2>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
    
    <!-- Project 1 -->
    <app-project-card
      title="E-commerce Platform"
      description="2nd year final project Angular at SECTEC Institute. For this project, I used frontend Angular, make api by https://mockapi.io."
      [tags]="['Angular', 'MockAPI', 'Tailwind CSS']"
      demoLink="https://starshopppp-xeku.vercel.app"
      githubLink="https://github.com/vannsakk5s/Starshopppp.git">
    </app-project-card>

    <!-- Project 2 -->
    <app-project-card
      title="9 Perfume Mini App"
      description="9 Perfume Mini App is a Telegram Mini App with real-time notification system. I built it for sell perfume in cambodia (KH). "
      [tags]="['Vanilla Stack', 'Tailwind CSS', 'Node.js']"
      demoLink="https://t.me/Miniapp9Perfume_bot"
      githubLink="https://github.com/vannsakk5s/9Perfume.git">
    </app-project-card>

    <!-- Project 3 -->
    <app-project-card
      title="Chat Real-time"
      description="Chat Real-time Fixed the repetitive chat Web application phrasing to flow more naturally and sound like a polished product."
      [tags]="['Angular', 'Nodejs', 'Socket.io']"
      demoLink="https://sms-group-396k.vercel.app"
      githubLink="https://github.com/vannsakk5s/Sms_group.git">
    </app-project-card>

    <!-- Project 4 -->
    <!-- <app-project-card
      title="Chat Real-time"
      description="A highly scalable, enterprise-level management system featuring complex role-based access and robust RESTful APIs."
      [tags]="['Angular', 'Nodejs', 'Tailwind']">
    </app-project-card> -->

  </div>
</section>
