<section id="projects" class="scroll-mt-24 mt-10">
  <h2
    class="text-3xl font-bold tracking-tight mb-8 transition-colors duration-300 hover:text-zinc-600 dark:hover:text-zinc-300 cursor-default">
    Selected Projects</h2>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">

    <!-- Project 1 -->
    <app-project-card title="E-commerce Platform"
      description="2nd year final project Angular at SECTEC Institute. For this project, I used frontend Angular, make api by https://mockapi.io."
      [tags]="['Angular', 'MockAPI', 'Tailwind CSS']" demoLink="https://starshopppp-xeku.vercel.app"
      githubLink="https://github.com/vannsakk5s/Starshopppp.git">
    </app-project-card>

    <!-- Project 2 -->
    <app-project-card title="9 Perfume Mini App"
      description="9 Perfume Mini App is a Telegram Mini App with real-time notification system. I built it for sell perfume in cambodia (KH). "
      [tags]="['HTML', 'Tailwind CSS', 'Node.js']" demoLink="https://t.me/Miniapp9Perfume_bot"
      githubLink="https://github.com/vannsakk5s/9Perfume.git">
    </app-project-card>

    <!-- Project 3 -->
    <app-project-card title="Chat Real-time"
      description="Chat Real-time Fixed the repetitive chat Web application phrasing to flow more naturally and sound like a polished product."
      [tags]="['Angular', 'Node.js', 'Socket.io']" demoLink="https://sms-group-396k.vercel.app"
      githubLink="https://github.com/vannsakk5s/Sms_group.git">
    </app-project-card>

    <!-- Project 4 -->
    <app-project-card title="Inventory - JDM"
      description="Developed a full-stack Inventory Management System for managing products, stock, suppliers, report, dashboard, and sales."
      [tags]="['Next.js', 'React', 'Tailwind CSS']" demoLink=""
      githubLink="https://github.com/vannsakk5s/Inventory-JDM.git">
    </app-project-card>

    <!-- Project 5 -->
    <app-project-card title="Project Mini Jira"
      description="Jira-inspired project management system using Python Flask and integrated a relational database for data storage."
      [tags]="['Python Flask', 'Docker']" demoLink="" githubLink="https://github.com/vannsakk5s/Project-Mini-Jira-.git">
    </app-project-card>

    <!-- Project 6 -->
    <app-project-card title="Web Push Notification"
      description="Developed a secure web push notification system using ASP.NET Core and RESTful APIs."
      [tags]="['ASP.NET Core', 'HTML']" demoLink="" githubLink="https://github.com/vannsakk5s/WebPushAPI.git">
    </app-project-card>

    <!-- Project 7 -->
    <app-project-card title="OTP Authentication System"
      description="Built a secure OTP authentication system using Express.js." [tags]="['Express.js', 'React']"
      demoLink="" githubLink="https://github.com/vannsakk5s/OTP-with-PlasGate.git">
    </app-project-card>

    <app-project-card title="Python Flask REST API"
      description="Developed a RESTful API using Python Flask with authentication, CRUD operations, and Docker deployment."
      [tags]="['Python Flask', 'Docker', 'REST API']" demoLink=""
      githubLink="https://github.com/vannsakk5s/Python_FlaskAPI.git">
    </app-project-card>

  </div>
</section>